<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="welcome-wrapper">
    <div class="icon-circle">
      <ion-icon name="sparkles-outline"></ion-icon>
    </div>

    <h1>Bienvenidos</h1>
    <p>
      Todo esta listo para que empieces a seleccionar las ordenes que deseas entregar
    </p>

    <span class="hint">
      Desliza o usa el menu para poder iniciar con el proceso
    </span>
  </div>
</ion-content>
